@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

 @*viewBag é dynamic construida em tempo de execução*@

<p>Este é um projeto que está sendo desenvolvido durante o curso do piso.</p>
